<aside class="col-sm-4">
  <h3>All documents</h3>
  <ul *ngIf="documents">
    <li *ngFor="let doc of documents">
      <a [routerLink]="[doc?.id]">{{doc?.m_szDocTitle}}</a>
    </li>
  </ul>
  <ng-template #noData>Loading data...</ng-template>
</aside>
<main class="col-sm-8">
<div>
  <!-- Open the documents within this element -->
  <router-outlet></router-outlet>
</div>
</main>
